<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155585238-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-155585238-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>ei0124 Portfolio</title>

    <link href="main.css" rel="stylesheet">
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/ei.ico">
</head>

<body>
    <div id="app">
        <header>    
            <div class="header-list">
                <transition-group appear tag="div" @before-enter="beforeEnter">
                    <li v-for="(item, index) in contentslist" :data-index="index" :key="item"><a v-bind:href="item.url">{{item.text}}</a></li>
                </transition-group>
            </div>
        </header>

        <!--<img src="./images/jigglypuffs.png">-->

        <div class="top">
            welcome to ei0124 portfolio!
        </div>

        <main>
            <div class="center">
                <a name="about">
                    <h1 class="section-style">About</h1>
                </a>
                <table>
                    <tr>
                        <th class="th-left"><i class="fas fa-signature fa-fw gray"></i>Name</th>
                        <th>Eiji Mori</th>
                    </tr>
                    <tr>
                        <th class="th-left"><i class="fas fa-birthday-cake fa-fw maroon"></i>Birthday</th>
                        <th>1996/04/10</th>
                    </tr>
                    <tr>
                        <th class="th-left"><i class="fas fa-user-graduate fa-fw skyblue"></i>Univercity</th>
                        <th>Kagoshima</th>
                    </tr>
                    <tr>
                        <th class="th-left"><i class="fas fa-book-open fa-fw navy"></i>Study</th>
                        <th>Robotics</th>
                    </tr>
                    <tr>
                        <th class="th-left"><i class="fas fa-envelope fa-fw skyblue"></i>Email</th>
                        <th>chronolavos0124[at]gmail.com</th>
                    </tr>
                </table>
            </div>

            <div class="center">
                <a id="skills">
                    <h1 class="section-style">Skills</h1>
                </a>

                <h2 class="subtitle">Languages</h2>

                <div>
                    <transition-group appear tag="div" @before-enter="beforeEnter">
                        <a v-for="(item, index) in languages" :data-index="index" :key="item" v-bind:href="item.url" target="_blank"><img class="imgs" v-bind:src="item.src" v-bind:alt="item.url" border="0"></a>
                    </transition-group>
                </div>

                <h2 class="subtitle">Competitive Programming</h2>

                <table>
                    <tr>
                        <th><a href="https://atcoder.jp/users/ei0124?lang=ja" target="_blank">AtCoder</a></th>
                        <th class="atcoder-color"> MaxRating  883</th>
                    </tr>
                    <tr>
                        <th><a href="https://codeforces.com/profile/ei0124" target="_blank">Codeforces</a></th>
                        <th class="codeforces-color"> MaxRating {{ maxrating }}</th>
                    </tr>
                </table>
            </div>

            <div class="center">
                <a id="events">
                    <h1 class="section-style">Events</h1>
                </a>
                <div class="timeline">
                    <div class="container left">
                        <div class="content">
                            <h1>2015</h1>
                            <p><a href="https://www.nhk.or.jp/robocon/rbcn2015/d_index.html" target="_blank">ROBOCON</a></p>
                            <p><a href="https://sites.google.com/site/summerrobocon/history" target="_blank">夏ロボ</a></p>
                        </div>
                    </div>
                    <div class="container right">
                        <div class="content">
                            <h1>2016</h1>
                            <p><a href="https://www.nhk.or.jp/robocon/rbcn2016/d_index.html" target="_blank">ROBOCON</a></p>
                            <p><a href="https://sites.google.com/site/summerrobocon/history" target="_blank">夏ロボ</a></p>
                        </div>
                    </div>
                    <div class="container left">
                        <div class="content">
                            <h1>2017</h1>
                            <p><a href="https://www.nhk.or.jp/robocon/2017/gakusei/index.html" target="_blank">ROBOCON</a></p>
                            <p><a href="https://sites.google.com/site/summerrobocon/history" target="_blank">夏ロボ</a></p>
                        </div>
                    </div>
                    <div class="container right">
                        <div class="content">
                            <h1>2018</h1>
                            <p><a href="https://www.ipa.go.jp/jinzai/camp/2018/zenkoku2018_index.html" target="_blank">SECCAMP全国</a></p>
                            <p><a href="https://jphacks.com/2018/" target="_blank">JPHACKS福岡</a></p>
                        </div>
                    </div>
                    <div class="container left">
                        <div class="content">
                            <h1>2019</h1>
                            <p><a href="https://www.ipa.go.jp/jinzai/camp/2019/zenkoku2019_index.html" target="_blank">SECCAMP全国</a></p>
                            <p><a href="https://www.security-camp.or.jp/minicamp/fukuoka2019a.html" target="_blank">SECCAMP福岡</a></p>
                            <p><a href="https://www.security-camp.or.jp/minicamp/nagasaki2019.html" target="_blank">SECCAMP長崎</a></p>
                            <p><a href="https://codeblue.jp/2019/" target="_blank">CODEBLUE</a></p>
                        </div>
                    </div>
                    <div class="container right">
                        <div class="content">
                            <h1>2020</h1>
                            <p><a href="https://flattsecurity.hatenablog.com/entry/2020/03/19/100000" target="_blank">Flatt Security インターン</a></p>
                            <p><a href="https://www.sakurajima-house.tech/" target="_blank">さくらじまハウス2020</a></p>
                            <p><a href="https://jaxa.krpc.jp/" target="_blank">Kibo Robot Programming Challenge</a></p>
			    <p><a href="https://www.security-camp.or.jp/minicamp/fukuoka2020.html" target="_blank">SECCAMP福岡</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="center">
                <a id="works">
                    <h1 class="section-style">Works</h1>
                </a>
                <div class="work-img">
                    <div class="work-margin">
                        <img src="images/Robot1.png">
                        <p class="work-p">掃除ロボット</p>
                    </div>
                    <div class="work-margin">
                        <img src="images/Circuit1.png">
                        <p class="work-p">モータドライバ</p>
                    </div>
                    <div class="work-margin">
                        <img src="images/Program1.png">
                        <p class="work-p">オートマトン</p>
                    </div>
                </div>
            </div>

            <div class="center">
                <a id="interests">
                    <h1 class="section-style">Interests</h1>
                </a>
                <table>
                    <tr>
                        <th class="th-left"><i class="fas fa-dumbbell fa-fw olive"></i>筋トレ</th>
                        <th>毎日やってます</th>
                    </tr>
                    <tr>
                        <th class="th-left"><i class="fas fa-laptop fa-fw silver"></i>技術</th>
                        <th>ハードからソフトまでやります</th>
                    </tr>
                    <tr>
                        <th class="th-left"><i class="fas fa-magic fa-fw red"></i>手品</th>
                        <th>カードとコインが好きです</th>
                    </tr>
                    <tr>
                        <th class="th-left"><i class="fas fa-chess-knight fa-fw gray"></i>将棋</th>
                        <th>物心付いた頃からやってます</th>
                    </tr>
                    <tr>
                        <th class="th-left"><i class="fas fa-cookie fa-fw brown"></i>料理</th>
                        <th>お菓子が一番得意です</th>
                    </tr>
                    <tr>
                        <th class="th-left"><i class="fas fa-microphone fa-fw black"></i>カラオケ</th>
                        <th>よく歌います</th>
                    </tr>
                    <tr>
                        <th class="th-left"><i class="fas fa-motorcycle fa-fw navy"></i>バイク旅</th>
                        <th>原付で出掛けます</th>
                    </tr>
                    <tr>
                        <th class="th-left"><i class="fas fa-tv fa-fw silver"></i>アニメ</th>
                        <th>攻殻機動隊が好きです</th>
                    </tr>
                </table>
            </div>
        </main>

        <footer class="center">
            <a id="links">
                <h1 class="section-style">Links</h1>
            </a>

            <ul class="footer-ul">
                <li v-for="(item, index) in linklist" :data-index="index" :key="item"><a v-bind:href="item.url" target="_blank"><img class="footer-img" v-bind:src="item.src" v-bind:alt="item.url" border="0"></a></li>
            </ul>
	    
            <div class="center">
                <small>Last Update:2020/10/02 ©ei0124</small>
            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <script src="main.js"></script>
</body>
</html>
