* {
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    float: left;
    padding: 32px 20px;
}

img {
    width:100%;
    max-width: 100%;
    height: auto;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
  
table tr{
    border-bottom: 1px solid #eee;
}
  
table tr:hover{
    background-color: #d4f0fd;
}

table th,table td{
    font-size: 20px;
    text-align: center;
    width: 25%;
    padding: 15px 0;
}

.header {
    background-color: white;
    height: 90px;
    position: sticky;
    top: 0;
}

.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}

.header-list {
    display: flex;
}

.header-list li {
    font-size: 20px;
    flex: auto;
}

.main {

}

.section-style {
    border-top: 3px solid #333;
    padding: 10px;
}

.imgs {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.acolor {
    /*background-color: #00FF99;*/
    color: green;
}

.ccolor {
    /*background-color: #99FFFF;*/
    color: skyblue;
}

.center {
    text-align: center;
}

.center img {
    text-align: center;
}

.footer {
    background-color: white;
}

.footer-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}

.footer-list {
    float: right;
}

.footer img {
    width: 80px;
    height: 80px;
    padding: 10px;
}

.cname {
    color: gray;
}

.ccake {
    color: maroon;
}

.cstudy {
    color: navy;
}

.cemail {
    color: skyblue;
}

.cmuscle {
    color: olive;
}

.ctech {
    color: silver;
}

.cmagic {
    color: red;
}

.ccook {
    color: brown;
}

.cbike {
    color: black;
}

.canime {
    color: black;
}

.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}

.v-enter-active {
  transition: opacity 1s, transform 1s;
}

.v-enter {
  opacity: 0;
  transform: translateY(-20px);
}
button {
  font-size: 18px;
  width: 160px;
  text-decoration: none;
  text-align: center;
  color: #1B1B1B;
  background: #fff;
  border:1px solid #fff;
}

button:hover {
  background: #F2F2F2;
  cursor: pointer;
  text-decoration: none;
}