
li {
    list-style: none;
    float: left;
    padding: 32px 20px;
}

.header {
    background-color: white;
    height: 90px;
    position: fixed;
}

.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}

.header-list {
    float: left;
}

.main {
    height: 600px;
}

.footer {
    background-color: white;
    height: 270px;
}

.footer-list {
    float: right;
}